<div id="page-wrapper">
      <div header-bar></div>
       <div side-bar></div>

<div id="page-content-wrapper" ng-init = "departmentList()" ng-controller = "DepartmentCtrl">
    <div id="page-content">
            <div class="container">

                <div class="content-box">
                    <h3 class="content-box-header bg-primary">
                        All Department
                        <div class="header-buttons">
                            <a href="javascript:void(0)" ng-click="createDepartmentForm()" class="btn btn-sm btn-default no-border" title="Create Property">Create Department</a>
                        </div>
                    </h3>
                    <div class="content-box-wrapper">
                           <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Property</th>
                                <th>Email</th>
                                <th>Manager</th>
                                <th>Supervisor</th>
                                <th>Option</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="department in departmentlist">
                                <td>{{department.name | capitalizeWord}}</td>
                                <td>{{department.type}}</td>
                                <td>{{department.propertyId.name | capitalizeWord}}</td>
                                <td>{{department.email}}</td>
                                <td>{{department.managerId.firstname+' '+department.managerId.lastname | capitalizeWord}}</td>
                                <td>{{department.supervisorId.firstname+' '+department.supervisorId.lastname | capitalizeWord}}</td>
                                <td>
                                    <div class="btn-group btn-group-xs wrape-all-btns">
                                        <a href="/#!/viewdepartment/{{department._id}}" class="btn cust-one btn-default btn-xs" data-toggle="tooltip" title="View"> <i class="glyph-icon icon-share"></i></a> 
                                        <a href="/#!/editdepartment/{{department._id}}" class="btn btn-primary btn-xs" data-toggle="tooltip" title="Edit"> <i class="glyph-icon icon-edit"></i></a>
                                        <a href="javascript:void(0)" ng-click="deleteDepartment(department._id)" class="btn btn-danger btn-xs" data-toggle="tooltip" title="Delete"> <i class="glyph-icon icon-trash-o"></i></a>
                                    </div> 
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
    </div>
</div>
</div>