<div id="page-wrapper">
    <div header-bar></div>
    <div side-bar></div>

    <div id="page-content-wrapper" ng-controller = "DepartmentCtrl">
        <div id="page-content">
                <div class="container">
                    <div id="page-title">
                        <h2>Department</h2>
                    </div>
                    <div class="panel">
                        <div class="panel-body">
                            <h3 class="title-hero add-list-btn">
                                Add Department
                                <!-- <span class="pull-right">
                                     <a href="/#!/createrole" class="btn btn-primary" title="Create Role">Create Department</a>
                                </span> -->
                            </h3>
                            <div class="example-box-wrapper">
                                <form class="form-horizontal bordered-row">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control" id="" placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <select name="" class="custom-select" style="height: 34px;width: 100%;">
                                                    <option>Type</option>
                                                    <option>Type 1</option>
                                                    <option>Type 2</option>
                                                    <option>Type 3</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <select name="" class="custom-select" style="height: 34px;width: 100%;">
                                                    <option>Manager</option>
                                                    <option>Manager 1</option>
                                                    <option>Manager 2</option>
                                                    <option>Manager 3</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <select name="" class="custom-select" style="height: 34px;width: 100%;">
                                                    <option>Spansor</option>
                                                    <option>Spansor 1</option>
                                                    <option>Spansor 2</option>
                                                    <option>Spansor 3</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control" id="" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control" id="" placeholder="Phone">
                                            </div>
                                        </div>
                                        <div class="form-group text-center">
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </div>
                                </form>

                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Operating</th>
                                        <th>Hours</th>
                                        <th colspan="2" style="text-align: center;" class="timing-action">Timing<br/>
                                            <span>Opening</span>
                                            <span>Closing</span>
                                        </th>
                                        <th colspan="2" style="text-align: center;" class="timing-action">Action <br/>
                                            <span>A</span>
                                            <span>B</span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Monday</td>
                                        <td>A</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Tuesday</td>
                                        <td>A</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Wednesday</td>
                                        <td>A</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Thursday</td>
                                        <td>A</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Friday</td>
                                        <td>A</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Saturday</td>
                                        <td>A</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Sunday</td>
                                        <td>A</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="6">Audit</td>
                                    </tr>
                                     <tr>
                                        <td colspan="4">Created by</td>
                                        <td colspan="2">15/01/2018</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">Modified by</td>
                                        <td colspan="2">15/01/2018</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>