<div id="page-wrapper">
  <div header-bar></div>
   <div side-bar></div>

    <div id="page-content-wrapper">
        <div id="page-content">
<div class="container" ng-init="viewDepartment()" ng-controller="PropertyCtrl">

    <div class="content-box">
        <h3 class="content-box-header bg-primary">
            View Department
            <div class="header-buttons">
                <a href="/#!/departmentlist" class="btn btn-sm btn-default no-border" title="Back">Back</a>

            </div>
        </h3>
        <div class="content-box-wrapper">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td style="text-transform: capitalize;">{{department.name}}</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>{{department.type}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{department.email}}</td>
                    </tr>
                    <!-- <tr>
                        <th>Phone</th>
                        <td>{{department.phone}}</td>
                    </tr> -->
                    <tr>
                        <th>Extension</th>
                        <td>{{department.extension}}</td>
                    </tr>
                    <tr>
                        <th>Property</th>
                        <td>{{department.propertyId.name | capitalizeWord}}</td>
                    </tr>
                    <tr>
                        <th>Manager</th>
                        <td>{{department.managerId.firstname+' '+department.managerId.lastname | capitalizeWord}}</td>
                    </tr>
                    <tr>
                        <th>Supervisor</th>
                        <td>{{department.supervisorId.firstname+' '+department.supervisorId.lastname | capitalizeWord}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="content-box">
        <h3 class="content-box-header bg-primary">
            Audit Trail
        </h3>
        <div class="content-box-wrapper">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>Audit</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Created by -</b> {{department.createdBy.firstname+' '+department.createdBy.lastname | capitalizeWord}}</td>
                        <td>{{department.createdAt | date}}</td>
                    </tr>
                    <tr>
                        <td><b>Modified by -</b> {{department.lastmodifiedBy.firstname+' '+department.lastmodifiedBy.lastname | capitalizeWord}}</td>
                        <td>{{department.updatedAt | date}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>

</div>
</div>
</div>