<div id="page-wrapper">
      <div header-bar></div>
       <div side-bar></div>

    <div id="page-content-wrapper" ng-controller = "PropertyCtrl">
        <div id="page-content">
            <div class="container">
                <div id="page-title">
                    <h2>Property Management</h2>
                </div>
                <div class="panel">
                    <div class="panel-body">
                        <h3>Overview</h3>
                          <form name="form" class="form-horizontal bordered-row">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Name</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="" name="Name" data-toggle="tooltip" data-placement="top" title="Name" placeholder="Name" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Organization id</label>
                                <div class="col-sm-6">
                                    <input type="email" class="form-control" id="" name="Organization" data-toggle="tooltip" data-placement="top" title="Organization id" placeholder="Organization id">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">User</label>
                                <div class="col-sm-6">
                                    <input type="email" class="form-control" id="" name="User" data-toggle="tooltip" data-placement="top" title="User" placeholder="User">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">rating</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="" name="rating" data-toggle="tooltip" data-placement="top" title="Rating" placeholder="5" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Address</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="" name="Address" data-toggle="tooltip" data-placement="top" title="Address" ng-model="user.lastname" placeholder="Address" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Gps</label>
                                <div class="col-sm-6">
                                    <input type="email" class="form-control" id="" name="Gps" data-toggle="tooltip" data-placement="top" title="Gps" placeholder="Gps" required>
                                </div>
                            </div>

                            <h3>SocialWebsite</h3>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Facebook</label>
                                <div class="col-sm-6">
                                    <input type="email" class="form-control" id="" name="Facebook" data-toggle="tooltip" data-placement="top" title="Facebook" placeholder="Facebook">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Instagram</label>
                                <div class="col-sm-6">
                                    <input type="email" class="form-control" id="" name="Instagram" data-toggle="tooltip" data-placement="top" title="Instagram" placeholder="Instagram">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Twitter</label>
                                <div class="col-sm-6">
                                    <input type="email" class="form-control" id="" name="Twitter" data-toggle="tooltip" data-placement="top" title="Twitter" placeholder="Twitter">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Tripadvisor</label>
                                <div class="col-sm-6">
                                    <input type="email" class="form-control" id="" name="Tripadvisor" data-toggle="tooltip" data-placement="top" title="Tripadvisor" placeholder="Tripadvisor">
                                </div>
                            </div>
                            
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                            
                        </form> 
                    </div>
                    </div>
            </div>
        </div>
    </div>
</div>