  <div id="page-header" class="bg-gradient-9" ng-controller="HeaderCtrl">
    <div id="mobile-navigation">
        <button id="nav-toggle" class="collapsed" data-toggle="collapse" data-target="#page-sidebar"><span></span></button>
        <a href="/" class="logo-content-small" title="Major Domo"></a>
    </div>
    <div id="header-logo" class="logo-bg" style="padding: 23px;">
        <a href="#!/propertylist" class="" title="Major Domo" style="color:#ddd;font-size: 21px;">
            Major <i>Domo</i>
        </a>
        <a href="/" class="logo-content-small" title="Major Domo">
            Major <i>Domo</i>
            <!-- <span>The perfect solution for user interfaces</span> -->
        </a>
        <a id="close-sidebar" href="javascript:void(0)" title="Close sidebar">
            <i class="glyph-icon icon-angle-left"></i>
        </a>
    </div>
    <div id="header-nav-left">
        <div class="user-account-btn dropdown">
            <a href="javascript:void(0)" title="My Account" class="user-profile clearfix" data-toggle="dropdown">
                <img width="28" src="./styles/assets/image-resources/gravatar.jpg" alt="Profile image">
                <span style="font-variant-caps: all-petite-caps;font-size: 17px;">{{currentUser.firstname+' '+currentUser.lastname}}</span>
                <i class="glyph-icon icon-angle-down"></i>
            </a>
            <div class="dropdown-menu float-left">
                <div class="box-sm">
                    <div class="login-box clearfix">
                        <div class="user-img">
                            <a href="javascript:void(0)" title="" class="change-img">Change photo</a>
                            <img src="./styles/assets/image-resources/gravatar.jpg" alt="">
                        </div>
                        <div class="user-info">
                            <span style="font-variant-caps: all-petite-caps;font-size: 17px;">
                                {{currentUser.firstname+' '+currentUser.lastname}}
                               <!--  <i>UX/UI developer</i> -->
                            </span>
                            <a href="javascript:void(0)" title="Edit profile">Edit profile</a>
                            <a href="javascript:void(0)" title="View notifications">View notifications</a>
                        </div>
                    </div>
                    <!--<div class="divider"></div>
                    <ul class="reset-ul mrg5B">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="glyph-icon float-right icon-caret-right"></i>
                                View login page example

                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="glyph-icon float-right icon-caret-right"></i>
                                View lockscreen example

                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="glyph-icon float-right icon-caret-right"></i>
                                View account details

                            </a>
                        </li>
                    </ul> -->
                    <div class="pad5A button-pane button-pane-alt text-center">
                        <a href="javascript:void(0)" ng-click = "logout(currentUser)" class="btn display-block font-normal btn-danger">
                            <i class="glyph-icon icon-power-off"></i>
                            Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- #header-nav-left -->

    <div id="header-nav-right">
        <a href="javascript:void(0)" class="hdr-btn" id="fullscreen-btn" title="Fullscreen">
            <i class="glyph-icon icon-arrows-alt"></i>
        </a>
   

    </div><!-- #header-nav-right -->
    <div class="loader-sect" ng-show="showLoader">
        <img src="/images/loader.gif">
    </div>
    <!-- <div ng-show="showLoader">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>  -->

</div>


 <!-- Theme layout -->
<script type="text/javascript" src="./styles/assets/themes/admin/layout.js"></script>
<!-- Screenfull -->
<script type="text/javascript" src="./styles/assets/widgets/screenfull/screenfull.js"></script>


 
