  <div id="page-sidebar">
    <div class="scroll-sidebar">


    <ul id="sidebar-menu">
    <li class="header"><span>Overview</span></li>
    <li>
        <a href="/#!/userlist" title="All Users">
            <i class="glyph-icon icon-users"></i>
            <span>All Users</span>
        </a>
    </li>
    <li class="divider"></li>
    <li>
        <a href="/#!/roleslist" title="All Users">
            <i class="glyph-icon icon-users"></i>
            <span>All Roles</span>
        </a>
    </li>
    <li class="divider"></li>
    <li>
        <a href="/#!/propertylist" title="All Properties">
            <i class="glyph-icon icon-users"></i>
            <span>All Properties</span>
        </a>
    </li>
    <li class="divider"></li>
    <li>
        <a href="/#!/departmentlist" title="All Department">
            <i class="glyph-icon icon-users"></i>
            <span>All Department</span>
        </a>
    </li>
    <li class="divider"></li>
    <!-- <li class="no-menu">
        <a href="javascript:void(0)" title="Account">
            <i class="glyph-icon icon-linecons-beaker"></i>
            <span>Account</span>
            <span class="bs-label label-danger">
                NEW
            </span>
        </a>
    </li> -->
       </ul><!-- #sidebar-menu -->


    </div>
</div>