<div id="page-wrapper">
      <div header-bar></div>
       <div side-bar></div>

    <div id="page-content-wrapper" ng-controller = "OutletCtrl">
        <div id="page-content">
            <div class="container">
                <div class="content-box">
                    <h3 class="content-box-header bg-primary">
                        <i class="glyph-icon icon-arrows-alt"></i>
                        Outlet
                    </h3>
                    <div class="content-box-wrapper">
                       <form name="form" class="form-horizontal bordered-row">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Name</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="" name="Name" data-toggle="tooltip" data-placement="top" title="Name" placeholder="Name" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Description</label>
                                <div class="col-sm-6">
                                    <input type="email" class="form-control" id="" name="Description" data-toggle="tooltip" data-placement="top" title="Description" placeholder="Description">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Phone</label>
                                <div class="col-sm-6">
                                    <input type="email" class="form-control" id="" name="Phone" data-toggle="tooltip" data-placement="top" title="Phone" placeholder="Phone">
                                </div>
                            </div>

                            <!-- <h3>SocialWebsite</h3> -->

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Facebook</label>
                                <div class="col-sm-6">
                                    <input type="email" class="form-control" id="" name="Facebook" data-toggle="tooltip" data-placement="top" title="Facebook" placeholder="Facebook">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Instagram</label>
                                <div class="col-sm-6">
                                    <input type="email" class="form-control" id="" name="Instagram" data-toggle="tooltip" data-placement="top" title="Instagram" placeholder="Instagram">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Twitter</label>
                                <div class="col-sm-6">
                                    <input type="email" class="form-control" id="" name="Twitter" data-toggle="tooltip" data-placement="top" title="Twitter" placeholder="Twitter">
                                </div>
                            </div>
                            
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                            
                        </form>
                    </div>
                </div>

                <div class="content-box">
                    <h3 class="content-box-header bg-primary">
                        <i class="glyph-icon icon-empire"></i>
                        Photo Gallery
                    </h3>
                    <div class="content-box-wrapper">
                        <div class="photogellery-section">
                            <img src="./images/img-8.jpg" alt="" class="img-thumbnail"> 
                            <img src="./images/img-8.jpg" alt="" class="img-thumbnail"> 
                            <img src="./images/img-8.jpg" alt="" class="img-thumbnail"> 
                            <img src="./images/img-8.jpg" alt="" class="img-thumbnail"> 
                            <img src="./images/img-8.jpg" alt="" class="img-thumbnail"> 
                            <img src="./images/img-8.jpg" alt="" class="img-thumbnail">
                        </div>
                    </div>
                </div>

                <div class="content-box">
                    <h3 class="content-box-header bg-primary">
                        <i class="glyph-icon icon-align-justify"></i>
                        Menu
                    </h3>
                    <div class="content-box-wrapper">
                       <ul>
                            <li>
                                <button class="btn btn-primary">
                                    <i class="glyph-icon icon-cloud-upload" title="" data-original-title=".icon-cloud-upload"></i>
                                    Upload Menu(PDF)
                                </button>
                            </li>
                            <li>
                                <a class="btn btn-link font-blue" href="#">
                                    <i class="glyph-icon icon-globe" title="" data-original-title=".icon-globe"></i>
                                    Webpage Menu(Link)
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                    <div class="panel">
                        <div class="panel-body">
                            <div class="record-outlets">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Operating</th>
                                        <th>Hours</th>
                                        <th colspan="2" style="text-align: center;" class="timing-action">Timing<br/>
                                            <span>Opening</span>
                                            <span>Closing</span>
                                        </th>
                                        <th colspan="2" style="text-align: center;" class="timing-action">Action <br/>
                                            <span>A</span>
                                            <span>B</span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Monday</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Tuesday</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Wednesday</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Thursday</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Friday</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Saturday</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Sunday</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">Last Order</td>
                                        <td colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="6">Audit</td>
                                    </tr>
                                     <tr>
                                        <td colspan="4">Created by Mark</td>
                                        <td colspan="2">15/01/2018</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">Last Modified John</td>
                                        <td colspan="2">15/01/2018</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>