<div id="page-wrapper">
  <div header-bar></div>
   <div side-bar></div>

    <div id="page-content-wrapper">
        <div id="page-content">
<div class="container" ng-controller="UserCtrl">
<div class="content-box">
    <h3 class="content-box-header bg-primary">
        <i class="glyph-icon icon-plus"></i>
        Create User
    </h3>
    <div class="content-box-wrapper">
        <form name="form" ng-submit="createUser(user)" class="form-horizontal bordered-row">

            <div class="form-group">
                <label class="col-sm-3 control-label">First Name</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="firstname" name="firstname" ng-model="user.firstname" placeholder="Enter first name" required>
                </div>
                <span class="form-validation" ng-show="form.firstname.$dirty && form.firstname.$error.required">First name is required</span>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Last Name</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="lastname" name="lastname" ng-model="user.lastname" placeholder="Enter last name" required>
                </div>
                <span class="form-validation" ng-show="form.lastname.$dirty && form.lastname.$error.required">Last name is required</span>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">User Role</label>
                <div class="col-sm-6">
                    <select name="userRoles" ng-model="user.userRoles" class="form-control single" required>
                        <option value="">Select One</option>
                        <option ng-repeat="x in rolelistData" value="{{x._id}}">{{x.name | capitalizeWord}}</option>
                    </select>
                    <!-- <span class="form-validation" ng-show="form.userRoles.$dirty && form.userRoles.$error.required">User role is required</span> -->
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label">Email</label>
                <div class="col-sm-6">
                    <input type="email" class="form-control" id="email" name="email" ng-model="user.email" placeholder="Enter email" required>
                </div>
                <span class="form-validation" ng-show="form.email.$dirty && form.email.$invalid">
                <span ng-show="form.email.$error.required">Email is required.</span>
                <span ng-show="form.email.$error.email">Invalid email address.</span>
                </span>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Password</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="password" name="password" ng-model="user.password" ng-minlength="4" ng-maxlength="8" placeholder="Password (atleast 4 characters)" required>
                </div>
                <span class="form-validation" ng-show="form.password.$dirty && form.password.$error.required" >Password is required</span>
                <span class="form-validation" ng-show="!form.password.$error.required && (form.password.$error.minlength || form.password.$error.maxlength) && form.password.$dirty">Passwords must be between 4 to 8 characters.</span>
            </div>

            <div class="form-group text-center">
                <a href="/#!/userlist" class="btn btn-border btn-alt border-green btn-link font-green" title="Back">Back</a>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </div>
            
        </form>
    </div>
</div>

</div>

</div>
</div>
</div>
