
<div class="center-vertical" ng-controller="UserCtrl">
    <div class="center-content row">
         <h3 class="text-center pad25B font-gray text-transform-upr font-size-23" style="font-weight: 600;">MAJOR DOMO<span class="opacity-80"></span></h3>
            <form name="resetPassform" id="login-validation" ng-submit="resetPassword(user)" class="col-md-4 col-sm-5 col-xs-11 col-lg-3 center-margin">
            <h3 class="text-center pad25B font-gray text-transform-upr font-size-23" style="font-weight: 600;">Reset Password<span class="opacity-80"></span></h3>
            <div id="login-forgot" class="content-box bg-default">
                <div ng-if="message" class="alert alert-danger">
                    {{message}}
                </div>
                <div class="content-box-wrapper pad20A">

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon addon-inside bg-gray">
                                <i class="glyph-icon icon-unlock-alt"></i>
                            </span>
                            <input type="password" name ="npassword" ng-model= "user.npassword" class="form-control" id="exampleInputNpassword2" ng-minlength="4" ng-maxlength="8" placeholder="Password (atleast 4 characters)" required>

                             <span class="form-validation" ng-show="resetPassform.npassword.$dirty && resetPassform.npassword.$error.required">Password is required</span>
                             <span class="form-validation" ng-show="!resetPassform.npassword.$error.required && (resetPassform.npassword.$error.minlength || resetPassform.npassword.$error.maxlength) && resetPassform.npassword.$dirty">Passwords must be between 4 to 8 characters.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon addon-inside bg-gray">
                                <i class="glyph-icon icon-unlock-alt"></i>
                            </span>
                            <input type="password" name ="cpassword" ng-model= "user.cpassword" class="form-control" id="exampleInputCpassword2" valid-password-c="user.npassword" placeholder="Enter confirm password" required>

                             <span class="form-validation" ng-show="resetPassform.cpassword.$dirty && resetPassform.cpassword.$error.required">Confirm password is required</span>
                             <span class="form-validation" ng-show="!resetPassform.cpassword.$error.required && resetPassform.cpassword.$error.noMatch && resetPassform.cpassword.$dirty">Passwords do not match.</span>
                        </div>
                    </div>

                </div>
                <div class="button-pane text-center">
                    <button type="submit" ng-disabled="resetPassform.$invalid" ng-click="resetPassword(user)" class="btn btn-md btn-primary">Reset Password</button>
                    <a href="#" class="btn btn-md btn-link switch-button" title="Cancel">Cancel</a>
                </div>
                
            </div>
            </form>
        
    </div>


     <div class="loader-sect" ng-show="showLoader">
        <img src="/images/loader.gif">
    </div>
</div>
