<div id="page-wrapper">
  <div header-bar></div>
   <div side-bar></div>

    <div id="page-content-wrapper">
        <div id="page-content">
<div class="container" ng-init="viewUser()" ng-controller="UserCtrl">
    <div class="content-box">
        <h3 class="content-box-header bg-primary">
            View User
            <div class="header-buttons">
                <a href="/#!/userlist" class="btn btn-sm btn-default no-border" title="Back">Back</a>
            </div>
        </h3>
        <div class="content-box-wrapper">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>First Name</th>
                        <td>{{user.firstname}}</td>
                    </tr>
                    <tr>
                        <th>Last Name</th>
                        <td>{{user.lastname}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{user.email}}</td>
                    </tr>
 		    <tr>
                        <th>Role</th>
                        <td>{{user.userRoles[0].name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</div>
</div>
</div>
