<div id="page-wrapper">
  <div header-bar></div>
   <div side-bar></div>

    <div id="page-content-wrapper">
        <div id="page-content">
<div class="container" ng-init ="rolesList()" ng-controller = "RoleCtrl">

<div class="content-box">
    <h3 class="content-box-header bg-primary">
        All Roles
        <div class="header-buttons">
            <a href="javascript:void(0)" ng-click="createRoleForm()" class="btn btn-sm btn-default no-border" title="Create Property">Create Role</a>
        </div>
    </h3>
    <div class="content-box-wrapper">
        <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
            <th>Created Date</th>
            <th>Option</th>
        </tr>
    </thead>

        <tbody>
        <tr ng-repeat="role in roleslist">
            <td>{{ role.name | capitalizeWord}}</td>
            <td>{{ role.description }}</td>
            <td>{{ (role.isActive) ? 'Active' : 'Inactive' }}</td>
            <td>{{ role.createdAt | date }}</td>
            <td>
                <div class="btn-group btn-group-xs wrape-all-btns">
                    <a href="/#!/viewrole/{{role._id}}" class="btn cust-one btn-default btn-xs" data-toggle="tooltip" title="View"> <i class="glyph-icon icon-share"></i></a> 
                    <a href="/#!/editrole/{{role._id}}" class="btn btn-primary btn-xs" data-toggle="tooltip" title="Edit"> <i class="glyph-icon icon-edit"></i></a>
                    <a href="javascript:void(0)" ng-click="deleteRole(role._id)" class="btn btn-danger btn-xs" data-toggle="tooltip" title="Delete"> <i class="glyph-icon icon-trash-o"></i></a>
                </div> 
            </td>
        </tr>
    </tbody>
</table>
            </div>
        </div>


</div>

</div>
</div>
</div>